@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  line-height: 1.6;
}

.container {
  margin: auto;
  max-width: 768px;
  /* margin: auto; */
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
}

form {
  width: 100%;
}

form p {
  font-size: 1em;
}

.input-group {
  display: flex;
  /* align-self: stretch; */
  flex-basis: 100%;
  gap: 15px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid #ccc; */
  padding: 8px 10px;
  /* border-radius: 8px;
  /* background-color: red; */
}

.register {
  gap: 30px;
}

button {
  margin-top: 10px;
  background: none;
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
}

input {
  width: 50%;
  /* flex-grow: 1; */
  border: none;
  border-bottom: 1px solid white;
  background-color: black;
  color: #fff;
  padding: 10px;
  font-size: 1em;
  text-align: center;
}

input:focus {
  outline: none;
}
